<% provide(:title, "Edit-basic-info:基本情報の更新") %>
<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '更新だよん！') %>
<h1>edit_basic_info基本情報の更新</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'edit_basic_info' %>
  </div>
</div>
