<% provide(:title, "【Edit:残業申請】") %>
<% provide(:class_text, 'base--edit') %>
<% provide(:button_text, '変更を申請する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h1 class="modal-title">modal_edit_monthly_info_【<%= user.name %>】からの１ヶ月分勤怠申請</h1>
    </div>
    <div class="modal-body">
      <%= render 'form_monthly_info' %>
    </div>
  </div>
</div>